<div class="row my-4">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3>The Future of Artificial Intelligence</h3>
                <em class="my-auto">May 27, 2023</em>
            </div>
            <div class="card-body">
                <h5>In this post, we delve into the latest advancements in artificial intelligence and explore how it's
                    shaping various industries.</h5>
                <p>@TechGeek123</p>
            </div>
        </div>
    </div>
</div>