{{#each blogPosts as |blogPost|}}
<div class="row my-4">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h3>{{title}}</h3>
                <em class="my-auto">{{date_created}}</em>
            </div>
            <div class="card-body">
                <h5>{{description}}</h5>
                <p>@{{user.name}}</p>
            </div>
        </div>
    </div>
</div>
{{/each}}